<style>
h1 {
    color: red;
    
}
p {
    color: blue; 
    font-style: italic;
    font-size: medium;
}
#first-paras{
    color:goldenrod;
}
#second-paras{
    color:hotpink;
}
#third-paras{
    color:green;
}
</style>